<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body ng-controller="storeController">

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 ">
				<b>Admin Login Page</b>
				<div class="table table-bordered " align="center"
					style="margin-top: .5em; padding-top: 20px">

					<form name="form">
						<div class="form-group"
							ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
							<label for="username">Username</label> <input type="text"
								ng-model="uname" required placeholder="Enter username">
							<span
								ng-show="form.username.$dirty && form.username.$error.required"
								class="help-block">Username is required</span>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
							<label for="password">Password</label> <input type="password"
								ng-model="password" required placeholder="Enter password">
							<span
								ng-show="form.password.$dirty && form.password.$error.required"
								class="help-block">Password is required</span>
						</div>
						<div class="form-actions" style="margin-left: 10px;">

							<button class="btn btn-info"
								ng-click="userLoginfunc(uname,password)">login</button>

						
							<a href="#userRegistrationPage" class="btn btn-link">Register</a>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>


</body>
</html>