<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body ng-controller="storeController">
	
	
	<b style="position: absolute; margin-left: 300px; margin-bottom: -100px;margin-top: -100px;">List Of User</b>
	
	<table class="table table-bordered table-striped" style="width:450px; margin-top: -50px; position: absolute;margin-left: 400px;" ng-init="getAllUser()">
		<tr >
			<td>userId</td>
			<td>userName</td>
			<td>firstName</td>
			<td>lastName</td>
			<!-- <td>Edit</td> -->
			<td>Delete</td>
		</tr>
		
		<tr ng-repeat="user in users">
			<td>{{user.userId}}</td>
			<td>{{user.userName}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			
			<!-- <td><a ng-click="editUser(user)"
				class="btn btn-small btn-success">edit</a></td> -->
			<td><a ng-click="deleteUser(user.userId)"
				class="btn btn-small btn-danger">delete</a></td>
		</tr>
	</table>
</body>
</html>